<!--<!DOCTYPE html>
<html>
    <head>
        <! linking a css style sheet -->
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style_sheet.css') }}">-->
        <!-- linking an image -->
        <!--<img id = "purple" src="{{ url_for('static', filename='Ninjas/donatello.jpg') }}"> 
        <img id =  src="{{ url_for('static', filename='Ninjas/leonardo.jpg') }}"> 
        <img id = "orange" src="{{ url_for('static', filename='Ninjas/michelangelo.jpg') }}"> 
        <img src="{{ url_for('static', filename='Ninjas/notapril.jpg') }}">     
        <img id = "red" src="{{ url_for('static', filename='Ninjas/raphael.jpg') }}">  
        <img src="{{ url_for('static', filename='Ninjas/tmnt.png') }}">   -->
        
    <!--</head>
    <body>
        <p>{{color}}</p>
    </body>
</html>-->

<!doctype html>
<html>
<title>Hello from Flask</title>
    <body>
        <img src= {{color}} alt = "ninjas" height="100px" width="100px">
    </body>
</html>